<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <div>
        <label>HOME: <input type="radio" v-model="title" value="home"></label>
        <label>LIST: <input type="radio" v-model="title" value="list"></label>
    </div>

    <!--条件渲染-->
    <!--<home v-show="title == 'home'"></home>
    <list v-show="title == 'list'"></list>-->

    <!--动态组件-->
    <component :is="title"></component>
    <!--动态组件是实现在多个组件间来回切换, 用法:
      1. 写一个内置的component组件
      2. 给component动态绑定is属性, 当is属性绑定的值发生变化时,Vue会按照is绑定的最新的值自动渲染对应的组件
    -->
    <!--失活的组件会被销毁, 存在实例中的数据都被销毁了-->
</div>

<script src="vue.js"></script>
<script>
    // 动态组件:
    let home = {
        template: `<div>HOME: <input type="text" v-model="home"></div>`,
        data(){
            return {
                home: ''
            }
        },
        beforeDestroy(){
            console.log('HOME 要销毁了');
        },
        destroyed(){
            console.log('HOME 真的被销毁了');
        }
    };

    let list = {
        template: `<div>LIST: <input type="text" v-model="list"></div>`,
        data(){
            return {
                list: ''
            }
        },
        beforeDestroy(){
            console.log('LIST 要销毁了');
        },
        destroyed(){
            console.log('LIST 真的被销毁了');
        }
    };
    let vm = new Vue({
        el: '#app',
        data(){
            return{
                title: 'home'
            }
        },
        components: {
            home,
            list
        }
    })
</script>
</body>
</html>