<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <div>
        <label>HOME: <input type="radio" v-model="title" value="home"></label>
        <label>LIST: <input type="radio" v-model="title" value="list"></label>
    </div>

    <keep-alive>
        <component :is="title"></component>
    </keep-alive>
    <!--keep-alive 也是内置的组件, 它可以让失活组件不销毁, 所以保存在组件实例中的数据也不会销毁-->
    <!--动态组件常和keep-alive 一起使用-->
</div>

<script src="vue.js"></script>
<script>
    // 动态组件:
    let home = {
        template: `<div>HOME: <input type="text" v-model="home"></div>`,
        data(){
            return {
                home: ''
            }
        },
        beforeDestroy(){
            console.log('HOME 要销毁了');
        },
        destroyed(){
            console.log('HOME 真的被销毁了');
        }
    };

    let list = {
        template: `<div>LIST: <input type="text" v-model="list"></div>`,
        data(){
            return {
                list: ''
            }
        },
        beforeDestroy(){
            console.log('LIST 要销毁了');
        },
        destroyed(){
            console.log('LIST 真的被销毁了');
        }
    };
    let vm = new Vue({
        el: '#app',
        data(){
            return{
                title: 'home'
            }
        },
        components: {
            home,
            list
        }
    })
</script>
</body>
</html>