html,body{
    font-size: 12px;
    color: #333;
    background-color: #f4f4f4;
}
.top-wrap{
    width: 1190px;
    margin: 0 auto;
}
.wrap{
    width: 1190px;
    margin: 0 auto;
}
.active{
    color: #f22e00!important;
}

.site-nav{
    width: 100%;
    background: #f5f5f5;
    border-bottom: #eee 1px solid;
}
.nav-top {
    overflow: hidden;
    background: #f5f5f5;
    height: 35px;
    line-height: 35px;
}
.nav-top-left{
    float: left;
    overflow: hidden;
}
.nav-top div.nav-top-left p{
    float: left;
    padding-right: 7px;
    padding-left: 8px;
}
.nav-top div p.nav-top-selectArea{
    position: relative;
}
.nav-top .allArea{
    position: absolute;
    top: 34px;
    display: none;
}
.nav-top div.nav-top-left p:nth-child(1):hover{
    background: #fff;
}
.nav-top div p a{
    color: #6c6c6c;
    padding-right: 5px;
}

.nav-top div.nav-top-left ul{
    position: absolute;
    clear: both;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    line-height: 29px;
    background: #fff;
    padding: 8px 0;
    z-index: 1111;
}
.nav-top div ul li{
    padding-left: 10px;
}
.nav-top div ul li:hover{
    background: #eee;
}

.nav-top i{
    font-size: 12px;
}
.nav-top p a:hover{
    color: #f22e00;
}
.nav-top-right{
    float: right;
}
.nav-top .nav-top-right p{
    float: left;
    padding:0 7px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
.nav-top-right a{
    color: #333333;
}
.nav-top .nav-top-right ul.allAreaRight{
    border: 1px solid #ddd;
    border-top: none;
    display: none;
    position: absolute;
    top: 34px;
    height: auto;
    width: auto;
    background: #fff;
    z-index: 999;
}
.nav-top-right ul li{
    padding-right: 8px;
}
.nav-top .nav-top-right ul.allArea6{
    position: absolute;
    right: 17.4%;
}

/*logo nav start*/
.top{
    background-color: #FFF;
    padding-top: 24px;
    height: 97px;
}
.logo-nav{
    position: relative;
    height: 88px;
    line-height: 88px;
}
.logo-img{
    background: url("../img/tb-logo.png") center center no-repeat;
    margin-left: 22px;
    width: 142px;
    height: 88px;
    float: left;
}
.logo-img> a{
    display: block;
    width: 100%;
    height: 100%;
}
.tbh-search {
    margin-left: 258px;
    margin-right: 302px;
}
.search-wrap {
    position: relative;
}
.search-bd {
    z-index: 30;
    position: relative;
    transform: translateZ(0);
}
.search-bd .search-triggers {
    height: 22px;
    margin-left: 17px;
}
.search-bd .search-triggers li {
    color: #F40;
    text-align: center;
    float: left;
    width: 36px;
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    cursor: pointer;
}
.search-bd .search-triggers .selected {
    color: #FFF;
    font-weight: 700;
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    background-repeat: repeat-x;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.tbh-search .search-panel {
    position: relative;
}
.search-bd .search-panel .search-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 74px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search-bd .search-panel .search-button .btn-search {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: #FF4200;
    cursor: pointer;
    height: 100%;
    border: none;
    width: 100%;
}
.tb-bg {
    background-image: -webkit-linear-gradient(left,#ff9000 0,#ff5000 100%);
    background-image: -o-linear-gradient(left,#ff9000 0,#ff5000 100%);
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);
}
.search-bd .search-panel .search-common-panel:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 36px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 20px;
    border-right: none;
}
.search-bd .search-panel .search-common-panel {
    margin-right: 74px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    overflow: hidden;
    height: 36px;
}

.search-combobox-placeholcer span {
    display: none;
}
.search-bd .search-panel .search-common-panel label {
    z-index: 2;
    position: absolute;
    top: -23px;
    left: 34px;
    color: #9C9C9C;
    cursor: text;
}
.search-bd .search-panel .search-common-panel .search-combobox-input-wrap {
    height: 36px;
    overflow: hidden;
    width: 472px;
}
.search-bd .search-panel .search-common-panel #q {
    padding: 6px 0;
    text-indent: 10px;
    height: 24px;
    line-height: 24px;
    width: 472px;
    border: none;
    outline: 0;
    background: #FFF;
    position: absolute;
}
div.search-imgsearch-panel {
    position: absolute;
    top: 2px;
    right: 90px;
    display: none;
    height: 36px;
}

.search-ft {
    position: relative;
    padding: 5px 41px 0 0;
    height: 20px;
    overflow: hidden;
}
.search-hots-lines {
    height: 46px;
    position: relative;
    overflow: hidden;
}
.search-hots-fline, .search-hots-sline {
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    margin-bottom: 5px;
}
.search-hots-fline a {
    color: #3c3c3c;
    white-space: nowrap;
}
.h {
    color: #ff5000!important;
}

/*右侧关闭二维码*/
.tbh-qr-wrapper {
    position: absolute;
    top: 0;
    right: 110px;
}
.tbh-qr {
    position: relative;
}
.J_Module {
    min-height: 0;
    background-color: #FFF;
}
.qr {
    position: relative;
    top: 0;
    z-index: 2;
}
.qr .qr-bd {
    position: relative;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 74px;
    height: 88px;
    color: #666;
    border: 1px solid #eee;
    background-color: #FFF;
}
.qr .qr-bd span {
    line-height: 20px;
    position: absolute;
    top: 2px;
    right: 3px;
    z-index: 1;
    width: 78px;
    color: #ff5000;
}
.qr .qr-bd img {
    position: absolute;
    right: 5px;
    bottom: 1px;
    margin-left: 6px;
    width: 62px;
    height: 62px;
}
.qr .qr-ft {
    position: absolute;
    top: 0;
    left: -16px;
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #eee;
}
.qr .qr-ft s {
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: #DDD;
}
/* logo nav end*/

/* 导航start*/
.tbh-nav .nav {
    height: 30px;
    line-height: 30px;
    position: relative;
    color: #fff;
}
.tbh-nav h2 {
    float: left;
    width: 190px;
    text-align: center;
    font-size: 16px;
    background: #ff5000;
}
.tbh-nav .nav-hd {
    float: left;
    *display: inline;
    font-size: 16px;
    font-weight: 700;
}
.tbh-nav ul {
    position: relative;
    z-index: 5;
}
.tbh-nav .nav-hd li {
    margin: 0 3px;
    text-align: center;
    padding: 0 4px;
}
.tbh-nav .nav-bd li, .tbh-nav .nav-hd li {
    position: relative;
}
.tbh-nav li {
    float: left;
}
.tbh-nav .nav-bd a, .tbh-nav .nav-hd a {
    float: left;
    padding: 0 5px;
    font-weight: 700;
}
.tbh-nav li a {
    color: #fff;
    font-size: 16px;
}
.tbh-nav .nav-bd li.hover:before, .tbh-nav .nav-bd li:hover:before, .tbh-nav .nav-hd li.hover:before, .tbh-nav .nav-hd li:hover:before {
    content: '\f102';
    font-family: iconfont;
    color: #ff5000;
    top: -19px;
    position: absolute;
    left: 50%;
    font-size: 16px;
    margin-left: -15px;
}
.tbh-nav .nav-bd li.pipe:before, .tbh-nav .nav-hd li.pipe:before {
    content: '';
}
/* 导航end*/

/* content banner start*/
.screen-outer{
    width: 990px;
    height: 632px;
    margin: 0 auto;
}
.main {
    float: left;
    width: 700px;
    height: 100%;
    clear: left;
}
.tbh-service {
    position: relative;
    float: left;
    width: 190px;
}
.J_Service {
    height: 522px;
    position: relative;
    font-size: 14px;
    color: #fff;
    width: 190px;
}
.service-bd {
    border: 1px solid #ff5000;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 3px;
}
.service-bd li {
    overflow: hidden;
    line-height: 32px;
    height: 32px;
    padding-left: 25px;
    padding-right: 19px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    width: 145px;
    color: #666;
}
.a-all {
    transition: all .2s;
}
.service-bd a {
    color: #666;
}
.service-bd li .service-arrow {
    position: absolute;
    right: 10px;
    font-size: 12px;
}

.service-float {
    position: absolute;
    left: 188px;
    top: 0;
    padding: 0 0 0 18px;
    width: 692px;
    height: 518px;
    border: 2px solid #F94A14;
    box-shadow: 2px 2px 0 #dcdadb;
    background-color: #FFF;
    color: #333;
    font-size: 12px;
    z-index: 22;
}
.service-float-item {
    display: none;
}
.service-fi-links {
    padding-top: 10px;
    width: 415px;
    height: 490px;
    overflow: hidden;
    padding-right: 12px;
    padding-left: 10px;
    float: left;
}
.service-panel {
    font-size: 12px;
    margin-bottom: 5px;
}
.service-panel h5 {
    position: relative;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #333;
}
.service-panel h5 a{
    color: #333;
}
.service-panel h5 span {
    font-size: 12px;
    right: -6px;
    position: absolute;
    font-weight: 400;
    top: 0;
}
.service-panel h5 span .tb-ifont {
    position: relative;
    left: -4px;
    font-size: 12px;
}
.tb-ifont {
    font-family: iconfont;
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
}
.service-panel p {
    height: 104px;
    overflow: hidden;
    padding-bottom: 33px;
    line-height: 26px;
}
.service-panel p a {
    color: #666;
    display: inline-block;
    margin-right: 12px;
    white-space: nowrap;
}

.h {
    color: #ff5000!important;
}
.service-rmd {
    float: left;
    width: 253px;
    border-left: 1px solid #f4f4f4;
    position: relative;
    height: 498px;
    padding-top: 20px;
}
.service-rmd h3 {
    line-height: 18px;
    color: #333;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}
.service-rmd-list a {
    display: block;
    width: 97px;
    height: 143px;
    padding: 10px 0 0 20px;
    overflow: hidden;
}
.fl{
    float: left;
}
.service-rmd-list .img-wrapper {
    width: 97px;
    height: 97px;
    overflow: hidden;
}
.img-wrapper {
    background: #4f4f4f;
    overflow: hidden;
}
.service-rmd-list img {
    display: block;
    width: 98px;
    height: 97px;
}
.img-wrapper img {
    opacity: .9;
    background: #fff;
    filter: alpha(opacity=90);
    transition: all .2s;
}

.service-rmd-list h5 {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    overflow: hidden;
    font-weight: 400;
    color: #999;
}
.a-all {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.img-wrapper img:hover{
    opacity: .8;
}
.main .core {
    margin-left: 10px;
    margin-top: 10px;
    width: 492px;
    overflow: hidden;
    float: left;
    height: 512px;
}
.tbh-promo, .tbh-tmall {
    width: 520px;
}
.promo {
    position: relative;
    width: 520px;
    height: 280px;
    overflow: hidden;
}
.tbh-promo .promo, .tmall {
    left: -14px;
}
.promo-bd {
    position: relative;
}
.arrow{
    background: none;
    font-size: 30px;
    color: #aaa;
    display: none;
}
/*第二个小轮播*/
.tmall {
    position: relative;
    width: 520px;
    height: 230px;
    margin-top: 1px;
    overflow: hidden;
}
.tmall-hd {
    width: 492px;
    position: relative;
    left: 14px;
    font-size: 14px;
    padding-top: 11px;
    border-bottom: 3px solid #ff1648;
    background-color: #f1f1f1;
}
.tmall-hd .inner {
    height: 18px;
    line-height: 18px;
    position: relative;
}
.tmall-hd .hd-bg {
    width: 136px;
    position: absolute;
    height: 19px;
    background-image: url(../img/tianmao.png);
    background-repeat: no-repeat;
    background-position: 2px 0;
    background-size: 122px 22px;
}
.tmall-hd em {
    font-size: 12px;
    color: #666;
    position: relative;
    margin-left: 136px;
}
address, cite, dfn, em, var {
    font-style: normal;
}
.tmall .mod {
    position: relative;
    width: 520px;
    height: 201px;
    float: left;
    overflow: hidden;
    display: block;
    visibility: visible;
}
.tmall .mod-loaded a {
    border-color: #ebebeb;
}
.tmall .mod-2 a {
    margin-top: 6px;
    width: 251px;
    height: 190px;
    overflow: hidden;
    margin-left: 6px;
}
.tmall .mod a {
    /*width: 130px;*/
    height: 201px;
    float: left;
}
.tmall .mod-2 a img {
    width: 100%;
    height: 100%;
}
/*main 第三个小banner*/
.tbh-headline {
    width: 690px;
    height: 100px;
}
.headline {
    position: relative;
    padding: 14px 14px 12px 20px;
    margin-top: 10px;
    background: #fff;
}
.headline h3 {
    width: 180px;
    height: 73px;
    float: left;
    background: url(../img/tbtoutiao.png) 0 14px no-repeat;
}
.mod-hd {
    position: relative;
}
.headline h3 p {
    margin-top: 42px;
    line-height: 24px;
    height: 24px;
    color: #999999;
    font-weight: 400;
}
.headline-bd {
    overflow: hidden;
    position: relative;
    height: 73px;
    margin-left: 180px;
}
.headline-bd .mod {
    width: 476px;
}
.headline-bd a {
    display: block;
    height: 73px;
}
.headline-bd .mod img {
    float: left;
    height: 73px;
    width: 130px;
}
.headline-bd .mod h4 {
    margin-top: 2px;
    margin-left: 144px;
    color: #333;
    height: 28px;
    overflow: hidden;
    display: block;
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
}
.headline-bd .mod p {
    margin-left: 144px;
    color: #999;
    height: 36px;
    overflow: hidden;
    line-height: 18px;
    font-size: 14px;
}
/*右边user部分*/
.col-right {
    float: right;
    width: 290px;
    height: 100%;
    margin-top: 10px;
    position: relative;
}
.tbh-member {
    background-image: url(../img/user-bg.png);
    background-size: 290px 145px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.member {
    padding: 3px 0 10px 0;
    height: 132px;
    text-align: center;
    background-repeat: no-repeat;
}
.member-bd {
    position: relative;
    height: 91px;
}
.member-bd .avatar-wrapper {
    display: block;
    margin: 0 auto;
    width: 74px;
    height: 56px;
}
.member-bd .member-home {
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50%;
    background-clip: padding-box;
    width: 50px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.member-bd .member-avatar {
    width: 50px;
    height: 50px;
}
.member-bd .member-nick-info {
    display: block;
    line-height: 17px;
    height: 17px;
}
.member .member-nick {
    font-weight: 400;
}
.member-ft {
    height: 40px;
    overflow: hidden;
    margin-top: 2px;
    padding-left: 15px;
}
.member-logout a {
    float: left;
    line-height: 25px;
    width: 75px;
    margin-right: 7px;
    text-align: center;
    color: #FFF;
    background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    background-clip: padding-box;
    font-size: 14px;
    font-weight: 700;
}
.member-logout a:first-child{
    width: 92px;
}
.tbh-tipoff a {
    position: relative;
    color: #f40;
    display: block;
    height: 26px;
    line-height: 26px;
    background: #ffe4dd;
    font-size: 12px;
}
.tbh-tipoff span {
    position: absolute;
    right: 52px;
    top: 9px;
    line-height: 0;
    width: 0;
    height: 0;
    border-style: solid;
    margin-left: 32px;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #f40;
}
.tbh-notice {
    height: 98px;
    padding-top: 10px;
    width: 290px;
}
.tbh-notice .notice-hd {
    position: relative;
    height: 24px;
    margin-top: 4px;
    overflow: hidden;
    margin-right: -2px;
    padding: 0 8px;
}
.tbh-notice .notice-hd li {
    float: left;
    line-height: 20px;
    width: 32px;
    text-align: center;
    margin: 0 11px;
}
.tbh-notice .notice-bd .mod {
    margin: 0 12px;
    height: 50px;
    overflow: hidden;
    padding-top: 9px;
    padding-bottom: 6px;
    display: none;
}
.tbh-notice a{
    color: #333;
}
.tbh-notice .notice-bd .mod li {
    float: left;
    line-height: 25px;
    height: 25px;
    width: 130px;
    overflow: hidden;
}
.tbh-notice .first li:first-child {
    width: 260px;
}
.h {
    color: #ff5000!important;
}
.hide{
    display: block!important;
}

.conve {
    border-top: 1px solid #f4f4f4;
}
.conve-list{
    width: 294px;
}
.conve .conve-float{
    overflow: visible;
}
.conve-list li{
    float: left;
    width: 71px;
    height: 75px;
    border: 1px solid #f4f4f4;
    border-left-color: transparent;
    border-top-color: transparent;
}
.conve-list a {
    padding-top: 1px;
    text-align: center;
    display: block;
}
.conve-list a .conve-item-icon{
    display: inline-block;
    font-size: 24px;
    margin-top: 11px;
    font-weight: bold;
}
.conve-list a p{
    color: #333333;
    line-height: 24px;
}
.conve-list a p:hover{
    color: #f22e00;
}
.conve-item-1 a span{
    color: #997aff;
}
.conve-item-2 a span{
    color: #ffd568;
}
.conve-item-3 a span{
    color: #58dbd4;
}
.conve-item-4 a span{
    color: #aec60e;
}
.conve-item-5 a span{
    color: #cf9588;
}
.conve-item-6 a span{
    color: #fe60d6;
}
.conve-item-7 a span{
    color: #f0b527;
}
.conve-item-8 a span{
    color: #997aff;
}
.conve-item-9 a span{
    color: #fd3dcd;
}
.conve-item-10 a span{
    color: #ff1269;
}
.conve-item-11 a span{
    color: #cc8e81;
}
.conve-item-12 a span{
    color: #9084d4;
}
/*阿里APP部分*/
.tbh-app{
    padding-top: 1px;
    position: relative;
}
div.apps{
    margin-top: 0;
}
.apps{
    position: relative;
    height: 110px;
}
.apps h3 {
    font-size: 14px;
    padding-left: 14px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    position: relative;
    z-index: 2;
}
.apps .more {
    position: absolute;
    right: 10px;
    font-size: 12px;
    font-weight: 400;
}
.apps .more .tb-ifont {
    position: relative;
    left: -4px;
    font-size: 12px;
}
.apps-nav {
    padding-left: 23px;
    position: relative;
    height: 84px;
}
.apps-nav li {
    transition: all 0s;
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 21px;
    margin-bottom: 8px;
}
.apps-nav li a img {
    width: 32px;
    height: 32px;
}
.apps-nav .app-qr {
    touch-action: none;
    bottom: 39px;
    left: -32px;
    width: 90px;
    height: 102px;
    background: #FFF;
    border: 1px solid #dedede;
    text-align: center;
    display: none;
    position: absolute;
    z-index: -1;
}
.apps-nav .app-qr img {
    width: 66px;
    height: 66px;
    padding: 12px;
}
.apps-nav .app-qr p {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 20px;
    line-height: 20px;
    color: #666;
    overflow: hidden;
}

/* content banner end*/
.layer {
    width: 990px;
    margin: 0 auto;
}
.layer-inner{
    margin-top: 10px;
}
.tbh-discover-goods, .tbh-live, .tbh-shop, .tbh-shopping {
    width: 490px;
}
.have-fun, .tbh-discover-goods, .tbh-helper, .tbh-live {
    position: relative;
}
.tbh-discover-goods, .tbh-shopping {
    float: left;
    height: 658px;
}
.com-hd {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mod-hd {
    position: relative;
}
.brand-item .mlogo, .mod-hd .mlogo {
    height: 24px;
    margin-right: 5px;
}
.fl {
    float: left;
    display: inline;
}
.mod-hd p {
    line-height: 24px;
    height: 24px;
    color: #999;
    font-weight: 400;
}
.mod-hd em {
    display: none;
}
.brand-item .qr-wrapper, .mod-hd .qr-wrapper {
    position: relative;
    float: left;
    width: 26px;
    text-align: center;
    height: 24px;
}
.brand-item .qr-wrapper .a-all, .mod-hd .qr-wrapper .a-all {
    position: absolute;
    left: -17px;
    top: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 66px;
    height: 80px;
    padding: 10px;
    background: #fff;
    z-index: -1;
    border: 1px solid #f0f0f0;
}
.mod-hd .tb-fn {
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    color: #999;
    width: 100px;
    text-align: right;
}
.mod-hd .tb-fn .more, .mod-hd .tb-fn .switch {
    cursor: pointer;
    font-weight: 400;
}
.goods-list {
    overflow: hidden;
    padding-left: 21px;
}
.goods-list a {
    display: block;
    float: left;
    width: 148px;
    overflow: hidden;
    margin: 0 4px 17px 0;
}
.tbh-discover-goods .img-wrapper {
    height: 148px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.tbh-discover-goods .img-wrapper img {
    height: 148px;
}
.goods-list a .info {
    overflow: hidden;
    padding: 0 4px 0 6px;
}
.goods-list a h4 {
    color: #000;
    margin-top: 5px;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    line-height: 28px;
    font-weight: normal;
}
.goods-list a p {
    line-height: 24px;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    height: 24px;
}
.goods-list a p.extra {
    line-height: 22px;
    height: 22px;
    margin-top: 12px;
    color: #35b1ff;
}
.goods-list a p.extra .tb-ifont {
    margin-right: 4px;
}
.tbh-shopping {
    float: left;
    margin-left: 10px;
    height: 658px;
}
.tbh-shopping .shopping-hd .mlogo {
    height: 23px;
}
.ml6 {
    margin-left: 6px;
}
.tbh-shopping .list {
    overflow: hidden;
    padding-left: 21px;
}
.tbh-shopping .list li {
    float: left;
    width: 148px;
    overflow: hidden;
    margin: 0 4px 17px 0;
}
.tbh-shopping .list a {
    display: block;
}
.tbh-shopping .list li .img-wrapper {
    height: 148px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.tbh-shopping .list .info {
    overflow: hidden;
    padding-left: 10px;
}
.tbh-shopping .list .subtitle {
    margin-top: 11px;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    font-size: 14px;
    color: #999;
}
.tbh-shopping .list .tb-ifont {
    color: #ebebeb;
    float: left;
    margin-top: -4px;
    margin-right: 4px;
}
.tbh-shopping .list .extra {
    margin-top: 14px;
}
.tbh-shopping .list .pic-wrapper {
    float: left;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
}
.tbh-shopping .list .name {
    margin-left: 30px;
    line-height: 22px;
    font-size: 12px;
    color: #999;
}
