*{
    margin: 0;
    padding: 0;
}

.box2{
    width: 400px;
    margin: 30px auto;
    padding: 10px;
    border: 2px solid lightseagreen;
    line-height: 35px;
}

.box2 .item{
    margin-top: 10px;
}
.item input{
    line-height: 25px;
    margin-left: 10px;
    width: 300px;
}
input#username, input#age{
    width: 200px;
}
.item button{
    display: block;
    width: 100px;
    margin: 0 auto;
    background: lightseagreen;
    line-height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}