.container{
    margin: 0 auto;
    width: 500px;
    border: 2px solid #cccccc;
    padding: 5px;
}
.container div{
    line-height: 35px;
    margin-left: 30px;
    margin-top: 10px;
}
.container div label input{
    line-height: 20px;
}
input#phone, input#address{
    width: 300px;
}
.container div #save-btn{
    margin: 0 auto;
    width: 100px;
    display: block;
    background: lightseagreen;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    color: #fff;
    line-height: 30px;
    cursor: pointer;
}
.container div #save-btn:hover{
    background: lightpink;
}
button{
    border: none;
    outline: none;
    border-radius: 5px;
    background: lightseagreen;
    width: 100px;
    height: 30px;
    text-align: center;
    color: #fff;
}